<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="css/custom.css" rel="stylesheet" />
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body class="container">
    <nav>
        <a href="{{ url_for('index') }}">R'Indexer</a>
        {# <a href="#">About</a> #} 
    </nav>
    <hr>
    <div class="container content col-lg-9">
        {% block content %} {% endblock %}
    </div>
    {% if user_Clicked  %}
    <div class="container table col-lg-9">
        {% block table %} {% endblock %}
    </div>
    {% endif %}

</body>
</html>