{% extends 'base.html' %}

{% block content %}

    <br>
    <form class = "container" method="POST">
        <label for="content"></label> 
        <h3>Enter Query Below</h3>
        <textarea name="content"
                  placeholder="Query content"
                  rows="1"
                  cols="80"
                  >{{ request.form['content'] }}</textarea>
        <br>
        {# <button type="submit">Submit</button> #}
        <input type="submit" value="Submit!">
    </form>

   
{% endblock %}




{% block table %}
<style>
    .expandChildTable:before {
        content: "+";
        display: block;
        cursor: pointer;
    }
    .expandChildTable.selected:before {
        content: "-";
    }
    .childTableRow {
        display: none;
        border-radius: 25px;
        border: 2px solid #D3D3D3;
        background-color: #D3D3D3;
    }
    .childTableRow table {
        border: 2px solid #555;
    }


</style>

<div class="container wrapper">

    <div >
    <p class="alert alert-success" id="message">Query Results Below!</p>
    <table class="table" id="myTable">
        <thread>
            <tr>
                <th></th>
                <th>Result</th>
                <th>Author</th>
                <th>Subreddit</th>
                <th>Score</th>
            </tr>
        </thread>

    </table>
    </div>
  </div>
   
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script><!-- <script src="js/disqus-config.js"></script> -->
  
  <script>

  $(function() {
      $('.expandChildTable').on('click', function() {
          $(this).toggleClass('selected').closest('tr').next().toggle();
      })
  });

var myArray = {{result | safe}};

buildTable(myArray)

function buildTable(data){
    var table = document.getElementById('myTable')
    var msg = document.getElementById('message')
    msg.innerHTML += `\n${data.length} documents found!`
    for (var i = 0; i < data.length; i++){
        var newRow = 
        `<tr>
            <td><span class="expandChildTable"></span></td>
            <td>${data[i].title}</td>
            <td>${data[i].author}</td>
            <td>${data[i].subreddit}</td>
            <td>${data[i].score}</td>
        </tr>
        <tr class="childTableRow">
            <td colspan="5">
              <p>${data[i].snippet}</p>
            </td>
        </tr>
        <tr>`;

        table.innerHTML += newRow;

    }
}

</script>

{% endblock %}